@* Partial view for AJAX filtering *@
<div>
    <h4 class="mt-3">Summary</h4>
    <ul>
        <li><strong>Total Revenue:</strong> @ViewBag.TotalRevenue USD</li>
    </ul>

    <hr />

    <h4>Revenue By Month</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Revenue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.RevenueByMonth)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)</td>
                    <td>@item.Revenue USD</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Revenue By Room Type</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Revenue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.RevenueByRoomType)
            {
                <tr>
                    <td>@item.RoomType</td>
                    <td>@item.Revenue USD</td>
                </tr>
            }
        </tbody>
    </table>
</div>
