@model IEnumerable<Hotel_Management_System.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReceiptID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReceiptID">Details</a> |
                    <a asp-controller="Receipts" asp-action="GuestReceipt" asp-route-bookingId="@item.BookingID" class="btn btn-sm btn-warning">View Receipt</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReceiptID">Delete</a>
                </td>

        </tr>
}
    </tbody>
</table>
